body {
  background-color: #121212;
  color: #00ffcc;
  font-family: "Arial", sans-serif;
}

.sidebar {
  width: 250px;
  background: linear-gradient(180deg, #060606, #232323);
  color: #00ffcc;
  padding: 20px;
  position: fixed;
  height: 100vh;
}

.sidebar a {
  color: #00ffcc;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.sidebar a:hover {
  background-color: #00ffcc;
  color: #121212;
}
